.red {
  position: absolute;
  animation-name: fall;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.blue {
  position: absolute;
  animation-name: fall;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes fall {
  from {transform: translateY(0px);}
  to {transform: translateY(100px);}
}
